@using Articulate.Models
@model Articulate.Models.AppEnv
<div class="container" role="main">

	<span id="tutorialName" style="display: none;">index</span>
		
	<div class="page-header">
		<p>&nbsp;</p>
		<h1>Welcome to Tanzu Build Service</h1>
	</div>

	<div class="row ">
		
		<div class="col-md-6">
			<p>The purpose of this application is to demonstrate some basic
				capabilities of the Tanzu BUILD components, in particular
				the <a href="https://tanzu.vmware.com/build-service">Tanzu Build Service</a> which is the core component
				responsible for building the application workloads as containers.</p>
			<h3>Build containers from source code for Kubernetes</h3>
			<p>
				VMware Tanzu Build Service automates container creation, management, and governance at enterprise scale.
			</p>
			<ol>
				<li><b>Build, maintain, and update portable OCI images</b> - Consistently create production-ready container 
				images that run on Kubernetes and across clouds. Automate source-to-container workflows across all your development frameworks.</li>
				<li><b>Boost security and reduce risk from CVE</b> - Tanzu Build Service uses the magic of Cloud Native Buildpacks to rebase app 
				images when specialized contractual base images are updated in a registry. This means you can resolve certain common vulnerabilities 
				and exposures (CVE) without a rebuild.</li>
				<li><b>Follow a Kubernetes-native model</b> - Tanzu Build Service follows a Kubernetes-native declarative model and executes builds 
				automatically against user-defined configuration. It includes <a href="https://tanzu.vmware.com/content/blog/introducing-kpack-a-kubernetes-native-container-build-service">kpack</a>, a set of open-source resource controllers for Kubernetes 
				maintained by VMware Tanzu</li>
			</ol>
		</div>

	</div>


</div>